!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}

    -# To set titles and descriptions globally and for each individual page, see /DOCS.md
    %title= page_title
    %meta{:content => page_description, :name => "description"}

    -#%meta{:content => "width=1080", :name => "viewport"}
    %meta#viewport{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    :javascript
      (function(doc) {
        var viewport = document.getElementById('viewport');
        if (window.innerWidth <= 480) {
          console.log('small yeah', window.innerWidth);
          document.getElementById("viewport").setAttribute("content", "width=480");
        }
      }(document));

    -#%meta{:content => "width=device-width", :name => "viewport"}

    -#Favicon Options:
    -#Update favicon_base.png in /source and middleman-favicon-maker will generate all the versions you need on 'middleman build'
    -#OR, place favicon.ico and apple-touch-icon.png in /source and deactivate :favicon_maker in config.rb
    %link{rel:"icon", href:"favicon.ico", type:"image/x-icon"}

    %link{href:'https://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic', rel:'stylesheet', type:'text/css'}

    = javascript_include_tag "vendor/modernizr-2.6.1.min"
    = stylesheet_link_tag "components"
    = stylesheet_link_tag "site"
    /[if lte IE 8]
      = stylesheet_link_tag "siteie8"
    = stylesheet_link_tag "jquery.fancybox"
  %body.dtx{class: page_classes}



    %header
      -#.langswitch.show-desktop
      -#  If you prefer English
      -#  %a{href:"#"} Click Here
      -#  %span> .
      -#.langswitch.show-mobile
      -#  English?
      -#  %a{href:"#"} Tap Here
      -#  %span> .

      %nav.show-desktop
        %ul.site-nav
          %li
            %a.index{href: "/"} HOME
          %li
            %a.about{href: "/about"} ABOUT
          %li
            %a.services{href: "/services"} SERVICES
          %li
            %a.projects{href: "/projects"} PROJECTS
          %li
            %a.contact{href: "#kontakt"} CONTACT
          -#%li
          -#  %a.news{href: "/news"} NEWS
      %nav.show-mobile
        %ul.mobile-nav-trigger
          %li
            %a.index{href: "#"} MENU
        %ul.mobile-nav
          %li
            %a.index{href: "/"} HOME
          %li
            %a.about{href: "/about"} ABOUT
          %li
            %a.services{href: "/services"} SERVICES
          %li
            %a.projects{href: "/projects"} PROJECTS
          %li
            %a.contact{href: "#kontakt"} CONTACT

      %h1.site-logo.modernbrowser Gedankenwerk. Agentur f&uuml;r neue Medien
      %h1.site-logo.ie8 Gedankenwerk. Agentur f&uuml;r neue Medien

    /[if lte IE 8]
      %div{:role => "main", :class => "main browserwarning"}

        %section
          %p.tagline
            IHR BROWSER WIRD LEIDER
            %br
            NICHT UNTERST&Uuml;tzt
            %span> .

          %p.subtagline
            Bitte verwenden Sie eine aktuelle Version von Internet Explorer,
            %br/
            Firefox, Chrome oder Safari
            %span> .

    = yield

    %footer#kontakt
      .footer-wrapper.clearfix
        %h1
          KONTAKT
          %span> .

        .footer-address
          %h2
            GEDANKENWERK –
            %br
            AGENTUR FÜR NEUE MEDIEN
          %p
            Sascha Panter und Yvonne Schweiger GbR
            %br
            Gentweg 10, 45356 Essen
          %p
            %a{href:"mailto:info@gedankenwerk.com"} info@gedankenwerk.com
            %br
            Tel. 0201 630 191 – 33
            %br
            Fax 0201 630 191 – 88

          %h2 FOLGE UNS
          %a.fb{href: "https://facebook.com/gedankenwerk"}
            %img.modernbrowser{src: "/images/Footer_Facebook.svg"}
            %img.ie8{src: "/images/Footer_Facebook.png", width: 107}
            %span >>

        .footer-locations
          -#
            %h2
              %br
              KURZFRISTIGER TERMIN VOR ORT?
            %p
              Das Gedankenwerk Team ist für ein schnelles
              Kennenlernen auch in anderen Städten präsent –
              eine kurze E-Mail genügt.

            %dl
              %dt
                BERLIN
                %span ......................
              %dd
                %a{href: "mailto:be@gedankdnwerk.com"} be@gedankenwerk.com
              %dt
                HAMBURG
                %span ......................
              %dd 
                %a{href: "mailto:hh@gedankenwerk.com"} hh@gedankenwerk.com
              %dt
                NEW YORK
                %span ......................
              %dd
                %a{href: "mailto:ny@gedankenwerk.com"} ny@gedankenwerk.com

        .footer-awards
          %img.modernbrowser{src: "/images/Footer_Designpreis_Deutschland.svg"}
          %img.modernbrowser{src: "/images/Footer_DMMA_Onlinestar.svg"}
          %img.ie8{src: "/images/Footer_Designpreis_Deutschland.png", width: 80, height: 128}
          %img.ie8{src: "/images/Footer_DMMA_Onlinestar.png", width: 200, height: 51}


      .superfooter
        %a{href: "/impressum"} Impressum
        %span &copy; Gedankenwerk 2013

        %ul.site-nav
          %li
            %a.home{href: "/"} Home
          %li
            %a.about{href: "/about"} About
          %li
            %a.services{href: "/services"} Services
          %li
            %a.projects{href: "/projects"} Projects
          %li
            %a.projects{href: "#kontakt"} Contact
          -#%li
          -#  %a.news{href: "/news"} News


    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
    :javascript
      window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')
    = javascript_include_tag "jquery.krautSlider.js"
    = javascript_include_tag "jquery.fancybox.pack.js"
    = javascript_include_tag "jquery.fancybox-media.js"
    = javascript_include_tag "site"

    :javascript
      var _gaq=[['_setAccount','UA-21442306-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
