---
title: Projects - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}



  %section
    .projects-section
      .project-wrapper.projects1

        = partial 'prj_pawlak'
        = partial 'prj_stollenhelden'
        = partial 'prj_smartideas'
        = partial 'prj_ftth'
        = partial 'prj_inflight2'
        = partial 'prj_umzug'
        = partial 'prj_clinton'
        -#= partial 'prj_dialog'




      .pagination
        %a.btnprev.hidden{href: "/projects"} <
        %a.page{href: "/projects"} 1
        %a.page.active{href: "/projects2"} 2
        %a.page{href: "/projects3"} 3
        %a.page{href: "/projects4"} 4
        %a.page{href: "/projects5"} 5
        %a.btnnext{href: "/projects3"} >

