---
title: Projects - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}



  %section
    .projects-section
      .project-wrapper.projects1

        = partial 'prj_zolleisbahn'
        = partial 'prj_zolleisdisco'
        = partial 'prj_zollkokerei'
        = partial 'prj_zollmuseum'
        = partial 'prj_ean'




      .pagination
        %a.btnprev.hidden{href: "/projects"} <
        %a.page.active{href: "/projects"} 1
        %a.page{href: "/projects2"} 2
        %a.page{href: "/projects3"} 3
        %a.page{href: "/projects4"} 4
        %a.page{href: "/projects5"} 5
        %a.btnnext{href: "/projects2"} >

