---
title: Projects 3 - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}



  %section
    .projects-section
      .project-wrapper

        = partial 'prj_tventure'
        = partial 'prj_dialog'
        = partial 'prj_imw'
        = partial 'prj_tke'
        = partial 'prj_icss'
        = partial 'prj_produktshows'
        
        -#= partial 'prj_nokiax6'



      .pagination
        %a.btnprev{href: "/projects3"} <
        %a.page{href: "/projects"} 1
        %a.page{href: "/projects2"} 2
        %a.page{href: "/projects3"} 3
        %a.page.active{href: "/projects4"} 4
        %a.page{href: "/projects4"} 5
        %a.btnnext{href: "/projects5"} >

