---
title: Projects 2 - Gedankenwerk. Agentur f&uuml;r neue Medien
description:
---
%div{:role => "main", :class => "main"}



  %section
    .projects-section
      .project-wrapper

        = partial 'prj_entertain'
        = partial 'prj_inflight'
        = partial 'prj_filiale'
        = partial 'prj_ibs'
        = partial 'prj_anstoss'
        = partial 'prj_mobileworkplace'
        = partial 'prj_techday'
        -#= partial 'prj_dialog'




      .pagination
        %a.btnprev{href: "/projects2"} <
        %a.page{href: "/projects"} 1
        %a.page{href: "/projects2"} 2
        %a.page.active{href: "/projects3"} 3
        %a.page{href: "/projects4"} 4
        %a.page{href: "/projects5"} 5
        %a.btnnext{href: "/projects4"} >

